*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html{
    font-size: 62.5%;
}

p{
    word-wrap:break-word;
}

h1, h2, h3, h4, h5, h6{
    text-overflow: ellipsis;
}

.push-content{
    min-height: 400px;
}

@media (max-width: 768px) {
    .push-content{
        min-height: 550px;
    }
}

.accordion-wrapper{
    text-align: center;
    box-shadow:
    0 0 0 10px rgba(100, 100, 100, 0.6);
    -moz-box-shadow:
    0 0 0 10px rgba(210, 210, 210, 0.6);
    -webkit-shadow:
    0 0 0 10px rgba(150, 150, 150, 0.6);
    margin: 0 auto 25px auto;
    min-height: 600px;
    background: url("../images/orange-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    border-radius: 5px;
    color: rgb(56, 31, 0);
}

.accordion-wrapper h1{
    font-size: 3.5rem;
}

.accordion-wrapper h1 + p{
    font-size: 2.4rem;
    font-style: italic;
}

video{
    max-height: 318px;
    vertical-align: middle;
}

.sources h4{
    font-size: 2rem;
    font-style: italic;
}

.sources ul li{
    margin-bottom: 5px;
    list-style-type: none;
}

.sources ul li a{
    font-size: 1.8rem;
}

/*Footer*/
.push-footer{
    width: 100%;
    min-height: 910px;
}

.footer-menu{
    margin-top: 70px;
    margin-left: 30px;
}

@media (max-width: 992px) {
    .footer-menu{
        margin-top: 35px;
    }
}

@media (max-width: 768px) {
    .footer-menu{
        margin-top: 35;
    }
}

@media (max-width: 745px) {
    .footer-menu{
        display: none;
    }
}

.footer-menu > div{
    background: rgba(233, 206, 178, 0.8);
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 2px solid rgba(78, 50, 27, 0.7);
    border-bottom: none;
    height: 35px;
    margin-bottom: 10px;
    text-align: center;
    overflow: hidden;
    box-shadow:
    0 0 3px 3px rgba(100, 100, 100, 0.6);
    -moz-box-shadow:
    0 0 3px 3px rgba(210, 210, 210, 0.6);
    -webkit-shadow:
    0 0 3px 3px rgba(150, 150, 150, 0.6);
}

.footer-menu > div:nth-child(1){
    margin-left: 0;
}

.footer-menu > div:nth-child(2){
    margin-left: 20px;
}

.footer-menu > div:nth-child(3){
    margin-left: 40px;
}

.footer-menu > div:nth-child(4){
    margin-left: 60px;
}

.footer-menu > div:nth-child(5){
    margin-left: 80px;
}

@media (max-width: 768px) {
    .push-content{
        min-height: 550px;
    }

    .site-footer{
        height: 800px;
    }

    .push-footer{
        min-height: 810px;
    }
}

.footer-menu > div > span{
    width: 100%;
    display: block;
    height: 37px;
    border-bottom: 3px solid rgba(78, 50, 27, 0.7);
    -webkit-transition: all .15s ease-in;
    -moz-transition: all .15s ease-in-out;
    transition: all .15s linear;
}

.footer-menu > div > span > a{
    color: rgb(123, 98, 74);
    text-decoration: none;
    font-size: 1.8rem;
}

.footer-menu > div > span:hover{
    height: 33px;
}

.xs-menu{
    background: rgba(233, 206, 178, 0.8);
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 2px solid rgba(78, 50, 27, 0.7);
    border-bottom: none;
    height: 35px;
    margin-bottom: 10px;
    text-align: center;
    overflow: hidden;
    box-shadow:
    0 0 3px 3px rgba(100, 100, 100, 0.6);
    -moz-box-shadow:
    0 0 3px 3px rgba(210, 210, 210, 0.6);
    -webkit-shadow:
    0 0 3px 3px rgba(150, 150, 150, 0.6);
}

.xs-menu > span{
    width: 100%;
    display: block;
    height: 37px;
    border-bottom: 3px solid rgba(78, 50, 27, 0.7);
    -webkit-transition: all .15s ease-in;
    -moz-transition: all .15s ease-in-out;
    transition: all .15s linear;
}

.xs-menu > span > a{
    color: rgb(123, 98, 74);
    text-decoration: none;
    font-size: 1.8rem;
}

.xs-menu > span:hover{
    height: 33px;
}