*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}/*General reset*/

body{
    background: rgb(229, 229, 229);
}

html{
    font-size: 62.5%;
}

.header-wrapper{
    width: 100%;
    height: 45%;
    position: absolute;
    background-image: url("../images/Wallpaper2.jpg");
    background-repeat: no-repeat;
    background-size: auto;

    border-bottom: 2px solid rgb(118, 119, 122);
}

.header{
    position: relative;
    width: 80%;
    height: 50%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}

.logo-btn{
    width: 70px;
    height: 70px;
    margin: 0 auto;
    background: rgba(233, 206, 178, 0.8);

    /* Internet Explorer 10 */
    display:-ms-flexbox;
    -ms-flex-pack:center;
    -ms-flex-align:center;

    /* Firefox */
    display:-moz-box-flex;
    -moz-box-pack:center;
    -moz-box-align:center;

    /* Safari, Chrome, and Opera */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;

    /* W3C */
    display:box;
    box-pack:center;
    box-align:center;

    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.logo-btn, .logo-btn:active, .logo-btn:focus{
    margin: 20px auto;
    border: none;
    border-radius: 2px;
}

/*Menu and submenu - style*/
/*Menu Section*/
.menu{
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 80%;
    height: 32%;
    border: 2px solid rgba(78, 50, 27, 0.7);
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: rgba(233, 206, 178, 0.8);
}

ul li{
    list-style: none;
}

.menu-items li{
    display: inline-block;
    padding: 7px;
    margin-top: 1%;
    margin-right: 20px;
    color: rgb(43, 43, 43);
    font-size: 2rem;
    font-family: Calibri;

    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;
}

.menu-items li:hover{
    border-top-left-radius: 7px;
    border-bottom-right-radius: 7px;
    background: rgb(247, 173, 88);
    border: 2px solid rgb(78, 50, 27);
}

.menu-items li a{
    text-decoration: none;
    color: inherit;
}

.submenu{
    background: transparent;
    padding: 0;
}

.submenu li{
    width: 250px;
    height: 0.001%;
    margin-bottom: 5%;
    display: block;
    border-top-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border: 2px solid rgb(247, 173, 88);
    background: rgba(78, 50, 27, 0.95);
    color: rgb(210, 210, 210);
    font-family: Consolas;
    font-size: 2rem;
    text-align: center;
    padding: 0;

    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;
}

.submenu li a {
    color: inherit;
    text-decoration: none;
    padding: 0;
}

.submenu{
    display: none;
    position: absolute;
    width: 15%;
    padding-top: 1.2%;
}

.submenu li a:hover{
    background: rgb(247, 173, 88);
    color: rgb(78, 50, 27);
    border-radius: inherit;
}

/*Show submenu items*/

.menu-items li:hover .submenu{
    display: block;
}