*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

.push-content{
    min-height: 400px;
}

@media (max-width: 768px) {
    .push-content{
        min-height: 550px;
    }
}

main{
    position: relative;
    /*top: 400px;*/
}

.circle-size{
    height: 140px;
    width: 140px;
}