*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-wrap:break-word;
}

html{
    font-size: 62.5%;
}

.push-content{
    min-height: 400px;
}

@media (max-width: 768px) {
    .push-content{
        min-height: 550px;
    }
}

main{
    position: relative;
}

/*div.well{*/
    /*text-align: center;*/
    /*color: rgb(80, 80, 80);*/
/*}*/

/*div.well{*/
    /*background-image: url("../images/orange-background.jpg");*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
/*}*/

/*div.well p{*/
    /*color: rgb(50, 50, 50);*/
    /*font-size: 1.6rem;*/
/*}*/

/*a.btn-primary {*/
    /*background-image: -o-linear-gradient(bottom, #0B1E44 0%, #21CEA0 100%, #263960 100%, #21CEA0 100%, #0B1E44 100%);*/
    /*background-image: -moz-linear-gradient(bottom, #0B1E44 0%, #21CEA0 100%, #263960 100%, #21CEA0 100%, #0B1E44 100%);*/
    /*background-image: -webkit-linear-gradient(bottom, #0B1E44 0%, #21CEA0 100%, #263960 100%, #21CEA0 100%, #0B1E44 100%);*/
    /*background-image: -ms-linear-gradient(bottom, #0B1E44 0%, #21CEA0 100%, #263960 100%, #21CEA0 100%, #0B1E44 100%);*/
    /*background-image: linear-gradient(to bottom, #0B1E44 0%, #21CEA0 100%, #263960 100%, #21CEA0 100%, #0B1E44 100%);*/
/*}*/

/*.circle-size{*/
    /*height: 140px;*/
    /*width: 140px;*/
/*}*/

/*Footer*/

/*footer.site-footer{*/
    /*height: 350px;*/
    /*width: 100%;*/
    /*position: absolute;*/
    /*background-image: url("../images/SoftUniRightMan.png"), url("../images/blue-footer.png");*/
    /*background-position: 90% bottom, bottom;*/
    /*background-repeat: no-repeat, no-repeat;*/
    /*background-size: auto, cover;*/
/*}*/

/*.footer-menu{*/
    /*margin-top: 70px;*/
    /*margin-left: 30px;*/
/*}*/

/*@media (max-width: 992px) {*/
    /*.footer-menu{*/
        /*margin-top: 35px;*/
    /*}*/
/*}*/

/*@media (max-width: 768px) {*/
    /*.footer-menu{*/
        /*margin-top: 35;*/
    /*}*/
/*}*/

/*@media (max-width: 767px) {*/
    /*.footer-menu{*/
        /*display: none;*/
    /*}*/
/*}*/

/*.footer-menu > div{*/
    /*background: rgba(233, 206, 178, 0.8);*/
    /*border-top-left-radius: 15px;*/
    /*border-bottom-right-radius: 15px;*/
    /*border: 2px solid rgba(78, 50, 27, 0.7);*/
    /*border-bottom: none;*/
    /*height: 35px;*/
    /*margin-bottom: 10px;*/
    /*text-align: center;*/
    /*overflow: hidden;*/
    /*box-shadow:*/
    /*0 0 3px 3px rgba(100, 100, 100, 0.6);*/
    /*-moz-box-shadow:*/
    /*0 0 3px 3px rgba(210, 210, 210, 0.6);*/
    /*-webkit-shadow:*/
    /*0 0 3px 3px rgba(150, 150, 150, 0.6);*/
/*}*/

/*.footer-menu > div:nth-child(1){*/
    /*margin-left: 0;*/
/*}*/

/*.footer-menu > div:nth-child(2){*/
    /*margin-left: 20px;*/
/*}*/

/*.footer-menu > div:nth-child(3){*/
    /*margin-left: 40px;*/
/*}*/

/*.footer-menu > div:nth-child(4){*/
    /*margin-left: 60px;*/
/*}*/

/*.footer-menu > div:nth-child(5){*/
    /*margin-left: 80px;*/
/*}*/

/*@media (max-width: 768px) {*/
    /*.push-content{*/
        /*min-height: 550px;*/
    /*}*/

    /*.site-footer{*/
        /*height: 800px;*/
    /*}*/

    /*.push-footer{*/
        /*min-height: 810px;*/
    /*}*/
/*}*/

/*.footer-menu > div > span{*/
    /*width: 100%;*/
    /*display: block;*/
    /*height: 37px;*/
    /*border-bottom: 3px solid rgba(78, 50, 27, 0.7);*/
    /*-webkit-transition: all .15s ease-in;*/
    /*-moz-transition: all .15s ease-in-out;*/
    /*transition: all .15s linear;*/
/*}*/

/*.footer-menu > div > span > a{*/
    /*color: rgb(123, 98, 74);*/
    /*text-decoration: none;*/
    /*font-size: 1.8rem;*/
/*}*/

/*.footer-menu > div > span:hover{*/
    /*height: 33px;*/
/*}*/

/*.xs-menu{*/
    /*background: rgba(233, 206, 178, 0.8);*/
    /*border-top-left-radius: 15px;*/
    /*border-bottom-right-radius: 15px;*/
    /*border: 2px solid rgba(78, 50, 27, 0.7);*/
    /*border-bottom: none;*/
    /*height: 35px;*/
    /*margin-bottom: 10px;*/
    /*text-align: center;*/
    /*overflow: hidden;*/
    /*box-shadow:*/
    /*0 0 3px 3px rgba(100, 100, 100, 0.6);*/
    /*-moz-box-shadow:*/
    /*0 0 3px 3px rgba(210, 210, 210, 0.6);*/
    /*-webkit-shadow:*/
    /*0 0 3px 3px rgba(150, 150, 150, 0.6);*/
/*}*/

/*.xs-menu > span{*/
    /*width: 100%;*/
    /*display: block;*/
    /*height: 37px;*/
    /*border-bottom: 3px solid rgba(78, 50, 27, 0.7);*/
    /*-webkit-transition: all .15s ease-in;*/
    /*-moz-transition: all .15s ease-in-out;*/
    /*transition: all .15s linear;*/
/*}*/

/*.xs-menu > span > a{*/
    /*color: rgb(123, 98, 74);*/
    /*text-decoration: none;*/
    /*font-size: 1.8rem;*/
/*}*/

/*.xs-menu > span:hover{*/
    /*height: 33px;*/
/*}*/